@import url('../fonts/fonts.css');

body {
    font-family: "Montserrat";
}


.top-section {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    overflow: hidden;
 
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    
}


.top-nav_menu {
    padding: 0;
    width: 83.19px;
    height: 14px; 
    position: absolute;
    left: 514.08px;
    top: 69px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 158.86%;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
}


.top-phone {
    display: block;
    position: absolute;
    width: 164px;
    height: 16px;
    left: 1155px;
    top: 68px;
    color: #fff;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 158.86%;

.tour_elb {
    background-image: url("../images/эльбрус.png");
    position: absolute;
    width: 384.17px;
    height: 412px;
    left: 121px;
    top: 939px;

    background: linear-gradient(0deg, #000000 22.3%, rgba(0, 0, 0, 0) 60.32%);
    opacity: 0.58;
}

.tour_stol {
    background-image: url("../images/столовая.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    position: absolute;
    width: 384.17px;
    height: 412px;
    left: 525.91px;
    top: 939px;

    background: linear-gradient(0deg, #000000 22.3%, rgba(0, 0, 0, 0) 60.32%);
    opacity: 0.77;
   
}     

.tour_fisht {
    background-image: url("../images/фишт.png");   
    background-repeat: no-repeat;
    position: absolute;
    width: 384.17px;
    height: 412px;
    left: 931px;
    top: 939px;

    background: linear-gradient(0deg, #000000 22.3%, rgba(0, 0, 0, 0) 60.32%);
    opacity: 0.58;
}

.social {
    last-stile: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: ;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;

}

.heading_tours {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #2d383f;
}

.logo1 {
    position: absolute;
    left: 0%;
    right: -0.11%;
    top: 0%;
    bottom: -0.11%;

    background: #FFFFFF;
    position: absolute;
    left: 18.41%;
    right: 27.12%;
    top: 38.15%;
    bottom: 35.06%;

    background: #FFFFFF;
}